@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald/Oswald-Regular.eot');
	src: url('/assets/fonts/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Oswald/Oswald-Regular.woff') format('woff'),
		url('/assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}