// Font
$mainFont: 'Lato', Helvetica, Arial, sans-serif;

// Size
$mainFontSize: 18px;
$mainFontWeight: 300;
$mainLineHeight: 1.4;

// Responsive
$desktopWidth: 1200px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$defaultColor: #222;
$primaryColor: #5db4e5;

// Neutral Color
$neutralReg: #f4f4f4;
$neutralSec: #eeeeee;

// Shadow
$shadow: 0 4px 10px 4px rgba(51, 51, 3, .07);
